.rectangulo_login{
    background-color: gray;
    margin: 100px auto;
    padding: 100px;
    width: 10%;
    border-radius: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}